body {
	background-image: url(img/apl-bg.png);
}

#main-container {
	width: 100%;
	height: 100%;
}

#index-content-section {
	width: 100%;
	height: 4.76rem;
	background-image: url(../stylesheets/img/alp-bg01.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.btn {
	width: 0.31rem;
	height: 0.92rem;
	font-size: 0.135rem;
	font-family: "Microsoft YaHei";
}

#logo-section {
	width: 100%;
	height: 20%;
	background-image: url(../stylesheets/img/alp-logo-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logo-section1 {
	width: 100%;
	height: 20%;
}

#logo {
	width: 104%;
	height: 65%;
	background-image: url(../stylesheets/img/alp-logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#info-section{
	width: 3.8265rem;
	height: 3.31rem;
	
}

#chant {
	float: left;
	width: 33%;
	height: 30%;
	margin-left: 0.31rem;
	margin-bottom: 5%;
	background-image: url(../stylesheets/img/alp-chant.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#more-info {
	text-align: center;
	
	margin-left:75%;
	width: 10%;                                                                                                                                                                                           ;
	height: 20%;
}

#activity {
	height: 0.77rem;
	width : 0.77rem;
	margin-top: 0.62rem;
	margin-left: 0.12rem;
	
}

#btn-active {
	height: 0.77rem;
	width: 0.77rem;
}

#enroll-content-section {
	width: 100%;
	height: 4.76rem;
	background-image: url(../stylesheets/img/alp-bg02.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#enroll-section {
	width: 100%;
	height: 80%;
}

.input-group {
	margin-top:5%;
}

#icon-name {
	background-image: url(../stylesheets/img/alp-icon-user.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#icon-phone {
	background-image: url(../stylesheets/img/alp-icon-phone.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#icon-check {
	background-image: url(../stylesheets/img/alp-icon-id.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#name,#phone {
	width:115%;
	height:0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}


#IDCode {
	width: 1rem;
	height: 0.46rem;
	border-left: 0px;
	font-size: 0.1rem;
	font-family: "Microsoft YaHei";
}

#get_IDCode{
	margin-left: 0.08rem;
	width: 0.95rem;
	height: 0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#submit{
	width: 80%;
	margin-left:10%;
	height: 0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

.input-group {
	padding-left: 0.31rem;
}

#more-info2 {
	float: right;
	width: 0.31rem;
	height: 2rem;
	margin-top: -112%;
}

#msg {
	margin-left: 1.31rem;
	
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#enroll-content-section2 {
	width: 100%;
	height: 4.76rem;
	background-image: url(../stylesheets/img/alp-bg03.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logo-content {
	height: 1.076rem;
	width: 100%;
	padding-top:0.3rem;

}

#logo2 {
	
	margin-left: 33%;
	width: 1.15rem;
	height: 0.62rem;
	background-image: url(../stylesheets/img/alp-logo2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#status {
	height: 2.15rem;
	width : 100%;

}

#success-icon {
	margin-left: 35%;
	margin-top : 0.07rem;
	width : 0.95rem;
	height: 1.2rem;
	background-image: url(../stylesheets/img/alp-success-icon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#success-text {
	margin-top: 0.19rem;
	margin-left: 29%;
	width: 1.315rem;
	height: 0.4rem;
	background-image: url(../stylesheets/img/alp-success-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#success-illustration {
	height: 2.1rem;
	width: 100%;

}

#success-illustration-text {
	margin-left:12%;
	width : 2.44rem;
	height: 1.25rem;
	background-image: url(../stylesheets/img/alp-success-illustration.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#close {
	margin-top: 0.23rem;
	margin-left: 10%;
	width  : 80%;
	height : 0.46rem;
	background-color: lightgrey;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#illustration-content-section {
	width : 100%;
	height: 13.5rem;
	background-image: url(../stylesheets/img/apl-bgl04.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#illustration-content {
	margin-left: 5%;
	width : 85%;
	height: 88%;
	background-image: url(../stylesheets/img/alp-illustration.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#award-content-section {
	width: 100%;
	height: 6.1rem;
	background-image: url(../stylesheets/img/alp-bg05.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#award-intro {
	margin-top:5%;

	width: 100%;
	height: 4.31rem;
	background-image: url(../stylesheets/img/award-intro.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
