body {
	background-image: url(../stylesheets/img/apl-bg.png)
}

#main-container {
	width: 3.8265rem;
	height: 5.7rem;
}

#index-content-section {
	width: 3.8265rem;
	height: 5.7rem;
	background-image: url(../stylesheets/img/alp-bg01.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.btn {
	width: 0.31rem;
	height: 0.92rem;
	font-size: 0.135rem;
	font-family: "Microsoft YaHei";
}

#logo-section {
	width: 3.8265rem;
	height: 1rem;
	background-image: url(../stylesheets/img/alp-logo-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logo-section1 {
	width: 3.8265rem;
	height: 1rem;
}

#logo {
	width: 3.8265rem;
	height: 0.8rem;
	background-image: url(../stylesheets/img/alp-logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#info-section{
	width: 3.8265rem;
	height: 3.31rem;
	
}

#chant {
	float: left;
	width: 1.87rem;
	height: 1.43rem;
	margin-left: 0.31rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	background-image: url(../stylesheets/img/alp-chant.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#more-info {
	margin-right: 0px;
	float: right;
	width: 0.31rem                                                                                                                                                                                             ;
	height: 2rem;
	margin-top: -0.7rem;
}

#activity {
	height: 0.77rem;
	width : 0.77rem;
	margin-top: 0.62rem;
	margin-left: 0.12rem;
	
}

#btn-active {
	height: 0.77rem;
	width: 0.77rem;
}

#enroll-content-section {
	width: 3.87rem;
	height: 5.7rem;
	background-image: url(../stylesheets/img/alp-bg02.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#enroll-section {
	width: 3.87rem;
	height: 4.7rem;
}

#icon-name {
	background-image: url(../stylesheets/img/alp-icon-user.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#icon-phone {
	background-image: url(../stylesheets/img/alp-icon-phone.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#icon-check {
	background-image: url(../stylesheets/img/alp-icon-id.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#name,#phone {
	width: 2.7rem;
	height: 0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
	border-left: 0px;
}


#IDCode {
	width: 1.23rem;
	height: 0.46rem;
	border-left: 0px;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#get_IDCode{
	margin-left: 0.08rem;
	width: 1.38rem;
	height: 0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#submit{
	margin-left: 0.31rem;
	width: 3.14rem;
	height: 0.46rem;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

.input-group {
	padding-left: 0.31rem;
}

#more-info2 {
	margin-right: 0px;
	float: right;
	width: 0.31rem;
	height: 2rem;
	margin-top: -4.46rem;
}

#msg {
	margin-left: 1.31rem;
	
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#enroll-content-section2 {
	width: 3.8265rem;
	height: 5.7rem;
	background-image: url(../stylesheets/img/alp-bg03.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logo-content {
	padding-top:0.23rem;
	height: 1.076rem;
	width: 3.8265rem;

}

#logo2 {
	margin-left: 1.38rem;
	width: 1.15rem;
	height: 0.62rem;
	background-image: url(../stylesheets/img/alp-logo2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#status {
	height: 2.15rem;
	width : 100%;

}

#success-icon {
	margin-left: 1.46rem;
	margin-top : 0.07rem;
	width : 0.95rem;
	height: 1.2rem;
	background-image: url(../stylesheets/img/alp-success-icon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#success-text {
	margin-top: 0.19rem;
	margin-left: 1.307rem;
	width: 1.315rem;
	height: 0.4rem;
	background-image: url(../stylesheets/img/alp-success-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#success-illustration {
	height: 2.46rem;
	width: 3.8265rem;

}

#success-illustration-text {
	margin-left: 0.7rem;
	margin-top: 0.07rem;
	width : 2.54rem;
	height: 1.25rem;
	background-image: url(../stylesheets/img/alp-success-illustration.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#close {
	margin-top: 0.23rem;
	margin-left: 0.34rem;
	width  : 3.15rem;
	height : 0.46rem;
	background-color: lightgrey;
	font-size: 0.13rem;
	font-family: "Microsoft YaHei";
}

#illustration-content-section {
	width : 3.8265rem;
	height: 15.38rem;
	background-image: url(../stylesheets/img/apl-bgl04.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#illustration-content {
	margin-left: 0.32rem;
	width : 3.19rem;
	height: 13.85rem;
	background-image: url(../stylesheets/img/alp-illustration.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#award-content-section {
	width: 3.8265rem;
	height: 6.0rem;
	background-image: url(../stylesheets/img/alp-bg05.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#award-intro {
	margin-left: 0rem;
	width: 3.6rem;
	height: 4.3rem;
	background-image: url(../stylesheets/img/award-intro.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
